# Object files
*.o
*.ko
*.obj
*.elf

# ReSharper
_ReSharper*/
*.ReSharper*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

### VisualStudio ###
.vscode/
.vs/
.idea/
*.sln.iml

# User-specific files
MLStart.csproj.user
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates